{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>family_name</th>
        <th>given_name</th>
        <th>affiliation</th>
        <th>gender</th>
        <th>foreigner</th>
        <th>labels</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/api/data',
        serverSide: true,
        select: true,
        columns: [
          {data: 'family_name'},
          {data: 'given_name'},
          {data: 'affiliation'},
          {data: 'gender', orderable: false},
          {data: 'foreigner', orderable: false},
          {data: 'labels', orderable: false}
        ],
      });
    });
  </script>
{% endblock %}
